{% extends "base.html" %}

{% block content %}
<article class="article-card">
    <div id="basket-cards">
        {% for basket in basket_items %}
        <div class="card">
            <div class="card-inner">
                <img src="{{ basket.product.image.url }}" alt="{{ basket.product.name }}">
                <p class="product-name">{{ basket.product.name }}</p>
                <p class="product-quantity">{{ basket.quantity }} шт.</p>
                <p class="product-price-one">{{ basket.product.price }} тг. за штуку</p>
                <p class="product-total">Цена: <span class="price-placeholder"></span> тг.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</article>
{% endblock %}