{% extends "base.html" %}

{% block title %}Список продуктов{% endblock %}


{% block content %}
<main class="main">
    <article class="article-card">
        <div class="article-card-inner">
            {% for product in products %}
                <div class="card">
                    <div class="card-inner">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" >
                        <h5>Название:{{ product.name }}</h5>
                        <p>Цена за штуку:{{ product.price }} тг</p>
                        <form method="post" action="{% url 'add_to_basket' product.id %}">
                            {% csrf_token %}
                            <button class="btn" type="submit">Add to Basket</button>
                        </form>
                    </div>
                </div>             
            {% endfor %}                    
        </div>
    </article>
</main>
{% endblock %}