{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% block style %}{% endblock %}
</head>
<body>
    
    <div class="wrapper">
        <header class="header">
            <div class="header-inner">
                <div class="logo"><a href="/">FastFood</a></div>
                <nav class="nav">
                    <a href="/busket" class="nav-link">Busket</a>
                </nav>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <footer class="footer">
            <div class="footer-inner">
                <h5>
                    @ Designed for Practice | By Django
                </h5>
            </div>
        </footer>
    </div>
</body>
</html>